/.Rhistory
/.Rproj.user
*.Rapp.history
*.Rhistory
*.rda
*.RData
*.csv
*.pdf
*.DS_store
qslice.Rcheck
qslice_*.tar.gz
qslice_*.tgz
qslice/vignettes/*.html
qslice/vignettes/*.pdf
/sam_comparison/cauchyTransformation/NormTarget/data
/sam_comparison/cauchyTransformation/GammaTarget/data
/sam_comparison/cauchyTransformation/NormTarget/log
/gprior/explorationPlots
/sam_comparison/cauchyTransformation/GammaTarget/log
/gprior/data
/toDoList
/sam_comparison/cauchyTransformation/*/images
/samCode/standardTargets/*/output/*
/samCode/gprior/output/*
/samCode/gprior/data/*
/samCode/standardTargets/*/data/*
