/.Rhistory
/.Rproj.user
/cucumber.Rcheck
/cucumber_*.tar.gz
/sam_comparison/cauchyTransformation/NormTarget/data
/sam_comparison/cauchyTransformation/GammaTarget/data
/sam_comparison/cauchyTransformation/NormTarget/log
/gprior/explorationPlots
/sam_comparison/cauchyTransformation/GammaTarget/log
/gprior/data
/toDoList
/sam_comparison/cauchyTransformation/*/images
/samCode/standardTargets/*/output/*
/samCode/gprior/output/*
/samCode/gprior/data/*
/samCode/standardTargets/*/data/*
